/****************************************************/
/* setting the landing page background */
/****************************************************/
body{ 
    background-color:#ffeee5;
}

/****************************************************/
/* editing the headers */
/****************************************************/
H1 {
  font-size: 6em;
  color: #675151;
  text-align: center;
  text-shadow: 1px 2px #b7a4a4;
}  
H2 {
  font-size: 2em;
  color: #8d7777;
  text-align: center;
  text-shadow: 2px 2px 5px #b2a9a9;
}
H3 {
  font-size: 1.5em;
  color: #a79090;
  text-align: center;
  text-shadow: 1px 1px 3px #b2a9a9;
}


<img src="controlsimage.png" width="500" height="333">

/****************************************************/
/* customizing the buttons */
/****************************************************/
/**.button {
    background-color: #DBDBDB;
    border-radius: 50px; 
    color: #5B5959;
    padding: 20px 30px; 
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px; 
    display: flex;               /* added for centered text */
    justify-content: center;     /* added for centered text */
    align-items: center;         /* added for centered text */
}